html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


header {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  background: #fff;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
}

nav div a {
  text-decoration: none;
  color: #000;
  padding: 5px 15px;
  border-radius: 4px;
}

nav div a.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}


.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(3, 90px);
  grid-gap: 5px;
  width: 90%;
  margin: 20px auto;
}

.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.gallery .row_big {
  grid-row: span 3;
  grid-column: 1;
}

.gallery .wide {
  grid-column: 2 / span 2;
}



main {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  gap: 20px;
  width: 90%;
  margin: 20px auto;
}


article {
  border: 1px solid #aaa;
  padding: 15px;
  margin-bottom: 20px;
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.article-grid .article-title {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 10px;
}


.article-grid img.center-image {
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 8px;
}

.button1, .button2 {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
}

.button1 {
  margin-left: auto;
  display: block;
}

.button2 {
  margin-right: auto;
  display: block;
}


.sidebar {
  padding: 10px;
}

main .sidebar:first-of-type {
  border-right: 2px solid black;
}

main .sidebar:last-of-type {
  border-left: 2px solid black;
}

.sidebar .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar_row img {
  width: 100%;
  height: 100%;
}

.sidebar h3 {
  text-align: right;
}


footer {
  text-align: center;
  background-color: #f2f2f2;
  color: #555;
}


@media (max-width: 720px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  
  .gallery {
    grid-template-columns: 1fr;
  }
  
  .gallery .wide {
    grid-column: 1;
  }
  
  main {
    grid-template-columns: 1fr;
  }
  
  main .sidebar:first-of-type,
  main .sidebar:last-of-type {
    border: none;
  }
  
  .sidebar .card {
    grid-template-columns: 1fr;
    gap: 15px;
  }
 
  .article-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}