* {
  box-sizing: border-box;
  padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
  border-bottom: 1px solid #ccc;
  text-align: right;
  border: double;
  margin-top: 5px;
}


.logo {
  display: inline-block;
  font-weight: bold;
  color: black;
  float: left;
}

nav {
  display: inline-block;    
}

nav a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
}

nav div {
  display: inline-block;
}

.activeButton {
  height: 100%;
  border-right: double;
  border-left: double;
}

nav div a.active {
  color: teal;
  font-weight: bold;
}

.img_company {
    width: 100%;
    height: 100%;
    margin: auto;
}

.row {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 50%;
}

.row_big {
  width: 33%;
  height: 100%;
}

.gallery {
  display: inline-block;
  margin: 20px auto;
  width: 100%;
  height: 50%;
  font-size: 0;
}

.content {
  display: inline-block;
  width: 68%;
  vertical-align: top;
}

article {
  border: 1px solid #aaa;
  padding: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}

article h2 {
  margin-bottom: 10px;
  text-align: center;
}

article img {
  width: 33%;
  height: 50%;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-block;
}

.button1 {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-left: auto;
}

.button2 {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-right: auto;
}

.sidebar {
  display: inline-block;
  width: 30%;
  margin-left: 5px;
  padding: 5px;
  vertical-align: top;
  border-left: solid black;
}

.sidebar .card {
  margin-bottom: 15px;
  text-align: left;
}

.card {
  overflow: hidden;
  height: 100%;
}

.sidebar img {
  width: 100%;
  height: 100%;
}

.sidebar h3 {
    text-align: right;
}

.sidebar_row {
  display: inline-block;
  width: 48%;
  height: 100%;
  vertical-align: top;
}

footer {
  text-align: center;
  background-color: #f2f2f2;
  color: #555;
}

